<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Bienvenido Facebook Login</h2>
  <p>
    1. Obtener Token Facebook y datos de perfil de persona
  </p>
  <p>
    2. Compartir en Muro con respuesta
  </p>
  <button ion-button (tap)="loginFb()">Login FB</button>
  <button ion-button (tap)="sharedFb()">Compartir</button>

  <ion-card *ngIf="userData">
    <ion-card-header>{{ userData.username }}</ion-card-header>
    <img [src]="userData.picture" />
    <ion-card-content>
      <p>Email: {{ userData.email }}</p>
      <p>First Name: {{ userData.first_name }}</p>
    </ion-card-content>
  </ion-card>

</ion-content>
